//colors

$main-dark: #16141A;
$main-red: #EA053A;

$background-grey: #F9F9FA;
$background-btn-grey: #D7D5D6;
$background-popup: #222026;

$font-color-light: #fff;
$font-color-dark: #393939;
$font-color-list: #40364B;
$link-color: #4A90E2;

//size
.font-size-12 {
  font-size: 12px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-17 {
  font-size: 17px;
}

.l-height-20 {
  line-height: 20px;
}

//width
.width-p-80 {
  width: 80%;
}
.width-p-100 {
  width: 100%;
}
.max-width-60 {
  max-width: 60px;
}

//height
.height-40 {
  height: 40px;
}
.max-height-60 {
  max-height: 60px;
}

//margin & padding
.m-0-auto {
  margin: 0 auto;
}
.m-right-15 {
  margin-right: 15px;
}
.m-bottom-20 {
  margin-bottom: 20px;
}
